.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.button {
    margin: auto auto 1rem auto;
    background: #01ff70;
    padding: 1rem 2.5rem;
    transition: background 0.2s;
}

.button p {
    color: #00662c;
    user-select: none;
}

.button:hover {
    cursor: pointer;
    background: #2ecc40;
}

.button:hover p {
    color: #0e3e14;
    user-select: none;
}
